<div class="left_div new_page">
  <form action="/pokemon" method="post">
    <label>Name:</label>
    <br>
    <input name="pokemon[name]">
    <br>
    <label>Photo:</label>
    <br>
    <input name="pokemon[img_url]">
    <br>
    <label>Type:</label>
    <br>
    <input name="pokemon[poke_type]">
    <br>
    <label>CP:</label>
    <br>
    <input name="pokemon[cp]">
    <br>
    <input class="button untilt" type="submit" value="Create">
  </form>
  <h3 class="cancel untilt"><a href="/">HOME</a></h3>
</div>

<div class="center_div">
  <h2>New Pokemon!</h2>
</div>

<div class="right_div">
</div>
